/* the pages body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #E87A5D;
    font-family: Arial, sans-serif;
    color: #F3B941;
}

/* game section */
.game {
    text-align: center;
}

/* div that contains button section */
.options {
    margin-top: 20px;
}


/* button section */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3B5BA5;
    border-radius: 8px;
    color: #F3B941;

}

/* score section */
.score {
    margin-top: 25px;
    font-size: 18px;
}


.result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}


.hidden {
    display: none;
}